.navbar-collapse {
    position: absolute;
    top: 71px; /* Adjust the value based on your navbar's height */
    right: 0;
    left: auto;
    width: 14%;
}
.navbar-collapse.collapsing,
.navbar-collapse.show {
    display: block !important;
    background: rgb(232 233 233);
}
.navbar-nav {
    align-items: center;
    padding: 15px;
}

.menu-image {
    width: 50px;
    height: auto;
}

.navbar-brand {
    font-family: Macondo;
    font-size: 30px;
    font-weight: bold;
}