footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: #151d53;
}
footer ul {
  padding-inline-start: 10px;
}

.footer-links {
  display: flex;
  list-style: none;
  gap: 15px;
}

.links {
  text-decoration: none;
  color: white;
}

.footer-social-links {
  display: flex;
}

.footer-logo-container {
  padding: 10px 10px 6px;
}

.footer-logo-container img {
  height: 35px;
}
